@charset "UTF-8";
/* CSS Document */

body {
	background-color:#efefef;
	font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:0px;
	text-align:center;
}
.seriffer {
	/*font-family: NotoSerifCJKjp, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;*/
    font-family: "Lora","游明朝","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro W3","Hiragino Mincho ProN","メイリオ",Georgia,Meiryo,serif;
}
.gridize {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
.headouter {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.heads {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-auto-rows: 1fr;
    background-color:#fcfcfc;
}
.heads > .meui {
	padding: 1.3rem;
    display: none;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    border-top: solid 1px #666;
}
.mebt {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: visible;
    border-top: solid 1px #666;
}
.mebt-closed {
    color: #000000;
    background-color: #fcfcfc;
}
.mebt-opened {
    color: #ffffff;
    background-color: #666;
}
/*.meui > a:hover {
    color: #000;
    background-color: #747474;
    text-decoration: none;
    display: block;
    padding: 1.3rem;
}*/
.titles {
	grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
	color:#fff;
	background-color:#7f7f7f;
}
.imgt > img {
    width: 90%;
    height: auto;
    object-fit: contain;
}
.imgt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincell {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.mains {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.mainsumb {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.imgridox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
}
.imgmsb {
    display: flex;
    align-items: start;
    justify-content: center;
}
.imgmsb > img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
}
.maindisp {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.maindisp > img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
}
.imgdisp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgdisp > img {
    width: 90%;
    height: auto;
    object-fit: contain;
}
.imgbor {
    border: solid 1px #000;
}
.imgmain {
    width: 50%;
    height: 50%;
    object-fit: contain;
}
.foots {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

@media (min-width: 960px) {
    .heads {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .heads > .meui {
        display: flex;
        background-color:#fcfcfc;
		padding: 1.3rem;
        border-top: none;
        border-left: solid 1px #666;
	}
	.heads > .meui:hover {
		background-color:#666;
        color: #ffffff;
        text-decoration: none;
		padding: 1.3rem;
	}
    .mebt {
        display: none;
        visibility: hidden;
    }
    .mains {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .mainsumb {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .maindisp {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
	/*.titles {
		padding: 2rem;
		color:#fff;
		background-color:#7f7f7f;
		grid-column: 1 / 4;
		grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-row: 2;
		-ms-grid-column-span: 3;
	}
	.heads img {
	  //width: 80%;
	  height: auto;
	}*/
}