@charset "UTF-8";
/* CSS Document */

body {
	background-color:#efefef;
	font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin:0px;
	text-align:center;
}
.seriffer {
	/*font-family: NotoSerifCJKjp, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;*/
    font-family: "Lora","游明朝","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro W3","Hiragino Mincho ProN","メイリオ",Georgia,Meiryo,serif;
}
.heads {
	background-color:#fcfcfc;
	display: grid;
	display: -ms-grid;
  	align-items: center;
	font-size: 1.3rem;
  	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: auto;
}
.heads > .meui {
	padding: 1.3rem;
    border-top: solid 1px #666;
}
.meui > a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 1.3rem;
}
/*.meui > a:hover {
    color: #000;
    background-color: #747474;
    text-decoration: none;
    display: block;
    padding: 1.3rem;
}*/
.titles {
	padding: 2rem;
	color:#fff;
	background-color:#7f7f7f;
}
.heads img {
  //width: 80%;
  height: auto;
}
.imgt {
	grid-column: 1;
	grid-row: auto;
	-ms-grid-column: 1;
	-ms-grid-row: auto;
}
.imgbor {
    border: solid 1px #000;
}

@media (min-width: 1024px) {
	.heads {
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		-ms-grid-rows: auto 1fr;
		/*//overflow: hidden;*/
	}
	.heads > .meui {
		background-color:#fcfcfc;
		padding: 1.3rem;
        border-top: none;
        border-left: solid 1px #666;
	}
	.heads > .meui:hover {
		background-color:#666;
		padding: 1.3rem;
	}
	.titles {
		padding: 2rem;
		color:#fff;
		background-color:#7f7f7f;
		grid-column: 1 / 4;
		grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-row: 2;
		-ms-grid-column-span: 3;
	}
	/*.heads img {
	  //width: 80%;
	  height: auto;
	}*/
}